@model CourseWork.ViewModels.CollectionFieldsViewModel

@{
    ViewData["Title"] = langResource["Edit collection"];
}

<h4>@langResource["Edit collection"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" class="myDropzone" id="myDropzone">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="TopicId" class="control-label"></label>
                <select asp-for="TopicId" class="form-control" asp-items="ViewBag.TopicId"></select>
            </div>

            <div id="optionalFields" class="form-group">
                @{ int i = -1; }
                @foreach (var field in Model.Fields)
                {
                    i++;
                    <div>
                        <hr />
                        <div class="form-group">
                            <label asp-for="Fields[i].Name" class="control-label">@langResource["Field name"]</label>
                            <input asp-for="Fields[i].Name" type="text" class="form-control" id="fieldname" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Fields[i].Type" class="control-label">@langResource["Field type"]</label>
                            <select asp-for="Fields[i].Type" class="form-control" asp-items="ViewBag.DataTypes" id="fieldselect"></select>
                        </div>
                        <input id="fieldbtn0" type="button" value="@langResource["Remove"]" onclick="RemoveTemplate(this)" class="btn btn-outline-primary" />
                    </div>
                }
            </div>

            <div>
                <div id="previews" class="dz-default dz-message box__input dropzone border border-primary">
                    <div style="text-align:center;" class="m-5">
                        <i class="fa fa-cloud-upload" style="font-size:23px;position:relative;top:4px;"></i> <span style="margin-left:20px">Drop files  to attach or browse</span>
                    </div>
                </div>
                <div id="previewFiles" class="m-3"></div>
            </div>
            @if (ViewData["PreviousImage"] != null)
            {
                <div class="form-group">
                    <label for="PreviousImage" class="form-check-label control-label">@langResource["Previous image"]</label>
                    <img id="PreviousImage" src="@ViewData["PreviousImage"].ToString()" class="rounded border" width="200" />
                </div>
                <div class="form-group" id="chb">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="True" name="deleteimage" id="deleteimage">
                        <label class="form-check-label" for="DeleteImage">
                            @langResource["Remove image question"]
                        </label>
                    </div>
                </div>
            }

            <div class="form-group">
                <input type="submit" id="submit" value="@langResource["Save"]" class="btn btn-primary" />
            </div>
        </form>
        <input type="button" value="@langResource["Add new field"]" onclick="addField()" class="btn btn-outline-primary" />
    </div>
</div>


<template id="field">
    <div>
        <hr />
        <div class="form-group">
            <label class="control-label">@langResource["Field name"]</label>
            <input type="text" class="form-control" id="fieldname" />
        </div>
        <div class="form-group">
            <label class="control-label">@langResource["Field type"]</label>
            <select class="form-control" asp-items="ViewBag.DataTypes" id="fieldselect"></select>
        </div>
        <input id="fieldbtn0" type="button" value="@langResource["Remove"]" onclick="RemoveTemplate(this)" class="btn btn-outline-primary" />
    </div>
</template>

@Html.Hidden("RedirectTo", Url.Action("Index", "Collections"))

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>
    <script src="~/js/optionalFields.js" asp-append-version="true"></script>
    <script src="~/js/dropzoneEditConfig.js" asp-append-version="true"></script>
    <script>
        let count = @(Model.Fields.Count);
    </script>
}