@model IEnumerable<CourseWork.Models.Collection>
@using Westwind.AspNetCore.Markdown;

@{
    ViewData["Title"] = langResource["Collections"];
}

<p>
    <a class="btn btn-primary" role="button" asp-action="Create">@langResource["Create collection button"]</a>
</p>
<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="media position-relative">
                <div class="p-3">
                    <img class="card-img-top" src="@Html.Raw(item.ImageURL)" alt="@Html.Raw(item.ImageURL)">
                    <h3 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h3>
                    <p class="card-text h6">@Markdown.ParseHtmlString(item.Description)</p>
                </div>
                <a asp-action="Index" asp-controller="Items" asp-route-id="@item.Id" class="stretched-link"></a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@langResource["Email name"]: @Html.DisplayFor(modelItem => item.User.Email)</li>
                <li class="list-group-item">@langResource["Topic name"]: @Html.DisplayFor(modelItem => item.Topic.Name)</li>
            </ul>
            <div class="card-body">
                <form asp-action="Edit" asp-route-id="@item.Id" method="get" class="float-left">
                    <button type="submit" id="submit" class="btn btn-outline-info">@langResource["Edit button"]</button>
                </form>
                <form asp-action="Delete" asp-route-id="@item.Id" class="float-right">
                    <button type="submit" id="submit" class="btn btn-outline-info">@langResource["Delete button"]</button>
                </form>
                <br/><br/>
            </div>
        </div>
    }
</div>
