@model CourseWork.ViewModels.ItemViewModel

@{
    ViewData["Title"] = langResource["Create item"];
}


<h4>@langResource["Create item"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="../Create" method="post">
            <input type="hidden" asp-for="CollectionId" value="@Model.CollectionId" />
            <div class="form-group">
                <label asp-for="Name" class=" control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div id="otherFields" class="form-group">
                @{ int i = -1; }
                @foreach (var field in Model.Fields)
                {
                    i++;

                    <div class="form-group">
                        <label for="Fields[@i].Value" class="control-label">@field.Name</label>
                        <input name="Fields[@i].Value" type="@field.Type" @(field.Type == "checkbox" ? "value=True" : "") class="form-control" />
                        <input name="Fields[@i].Value" type="hidden" value="False" />
                        <input name="Fields[@i].Type" type="hidden" value="@field.Type" />
                        <input name="Fields[@i].Name" type="hidden" value="@field.Name" />
                    </div>
                }
            </div>

            <div class="form-group">
                <input type="submit" id="submit" value="@langResource["Create"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}